.how-works-container {
  padding: 60px 0px;
}
.how-works-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
.how-works-header hr {
  border: 1.5px solid #ffa200;
  width: 590px;
  text-align: center;
}

.how-works-header p {
  padding: 10px;
}
.how-works-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 26px;
}

.how-works-cards-container div {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 19px;
  transition: all 0.5s linear;
  cursor: pointer;
}

.how-works-cards-container div h2 {
  color: #ffa200;
}

.how-works-cards-container div:hover {
  /* box-shadow: rgba(46, 255, 60, 0.6) 0px 19px 38px,
    rgba(46, 255, 60, 0.6) 0px 15px 12px; */

  /* -webkit-box-shadow: 0px 0px 23px 18px rgba(255, 161, 10, 0.5);
  -moz-box-shadow: 0px 0px 23px 18px rgba(255, 161, 10, 0.5);
  box-shadow: 0px 0px 23px 18px rgba(255, 161, 10, 0.5); */
  /* box-shadow: 0px 5px 15px 5px #005f95; */
  background-color: #6aaf08;
  color: white;
  transition: color background-color 1s;
  border: none;
}

.how-works-cards-container div img {
  width: 250px;
}
